.footer__links{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width:767px){
    .footer__links{
        flex-direction: column;
        margin-bottom: 32px;
        padding: 0;        
    }
}
